/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
/* 18 px base with perfect fourth scale
http://www.modularscale.com/?18&px&1.333 */
/* Base Styles */
html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.22222em; /* 22 / 18 = 1.222 */
  padding-bottom: 2.444em; /* 44 / 18 = 2.44444*/
  font-family: Lato, sans-serif;
}
h2 {
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  line-height: 1.376em; /* 22px * 2; 44 / 31.984 = 1.376 */
  margin-top: 0.688em; /* 22 / 31.984 = 0.688 */
  padding-left: 0.313em; /* 10/31.984 = 0.313 */
  padding-right: 0.313em; /* 10/31.984 = 0.313 */
}
h1 {
  font-size: 2.36861em; /* 42.635 / 18 = 2.36861 */
  line-height: 1.548em; /* 22px * 2; 66 / 42.635 = 1.548 */
  font-family: Acme, sans-serif;
  background-color: rgb(255, 92, 87);
  text-align: center;
}
form {
  background-color: rgb(255, 92, 87);
}

/* Layout Styles */
input {
  box-sizing: border-box;
  width: 100%;
  height: 2.444em; /* 44 / 18 = 2.44444*/
  line-height: inherit;
  font-size: inherit;
}
p, li, a {
  padding-left: 0.555em; /* 10/18 = 0.555 */
  padding-right: 0.555em; /* 10/18 = 0.555 */
}
#form-list li {
  padding-bottom: 1.22222em; /* 22 / 18 = 1.222 */
}

/* Module Styles */


/* State Styles */


/* Theme Styles */
